body {
  background-color: rgb(249, 244, 232);
}

h1 {
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 40px;
  font-size: 90px;
  color: rgb(39, 129, 248);
  border-top: 3px solid rgb(39, 129, 248);
  border-bottom: 3px solid rgb(39, 129, 248);
}
a href {
  font-family: 'Bungee,sans-serif;';
}

footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #e3735e;
  font-family: 'Bungee', sans-serif;
}
img {
  width: 100%;
  height: auto;
}
p {
  padding: 20px;
  font-family: 'Kanit', sans-serif;
  margin-left: 80px;
  margin-right: 80px;
}
h2 {
  font-family: 'Bungee', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #e3735e;
  margin-left: 40px;
}
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: 'Bungee', sans-serif;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #e3735e;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #e3735e;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(245, 228, 179);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(39, 129, 248);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
ul {
  font-family: 'Kanit', sans-serif;
  margin-left: 80px;
  margin-right: 80px;
}
.Image-2 {
  width: 120px;
  position: relative;
  left: 400px;
}
.Image-3 {
  width: 300px;
  position: relative;
  left: 400px;
  margin-right: 30px;
}
